:root {
	--color1: #fcba04;
	--color2: #a50104;
	--color3: #590004;
	--color4: #250001;
	--color5: #0b090a;
	--color6: #f3f3f3;
	--color7: #8d99ae;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/******************
 * STATIC TOP BAR *
 ******************/
#header {
	background-color: var(--color5);
	height: 5vh;
}
h1 {
	color: var(--color1);
	-webkit-text-stroke: 1px var(--color2);
}

/************************
 * MAIN PORTION OF PAGE *
 ************************/
.main-section {
	height: 45vh;
	display: flex;
	justify-content: space-evenly;
}
h3 {
	color: var(--color1);
	/* -webkit-text-stroke: 1px var(--color1); */
}

.numInput {
    width: 20px;
}

#top {
	background-color: var(--color7);
}

#bottom {
	background-color: purple;
}
/* ****************** */
/* Initiative section */
/* ****************** */
#init-title {
	width: 100%;
	height: 30px;
	background-color: var(--color5);
}

/* input section */
#init-input {
	width: 100%;
	height: 90px;
	display: flex;
	background-color: blue;
}
#input {
	width: 70%;
	height: 100%;
	background-color:saddlebrown
}

#input-top {
	width: 100%;
	height: 50%;
	display: flex;
	background-color: red;
}

#pc-type {
	height: 100%;
	width: 50%;
	background-color: yellowgreen;
}
#init-num {
	height: 100%;
	width: 50%;
	background-color: purple;
}

#input-bottom {
	width: 100%;
	height: 50%;
	background-color: blue;
}


#add-button {
	width: 30%;
	height: 100%;
	background-color:pink
}

/* intiative display section */
#current-init {
	width: 100%;
	height: 90px;
	background-color: purple;
}


/* bottom buttons  section */
#cycle-reset {
	width: 100%;
	height: 30px;
	display: flex;
	background-color: red;
}
#next-button {
	width: 85%;
	height: 30px;
}
#reset-button {
	width: auto;
	height: 30px;
}

.go-button {
	width: 100%;
	height: 100%;
	background-color: var(--color6);
	color: var(--color2);
}

.button-o-doom {
	width: 100%;
	height: 100%;
	background-color: var(--color2);
	color: var(--color1);
	font-size: 65%;
}



.sub-main {
	width: 45%;
	display: flex;
    flex-direction:column ;

}
.left-side {
	/* background-color: darkmagenta; */
	border: 1px solid var(--color1);
}
.right-side {
	background-color: darkolivegreen;
}


/********************
 * FOOTER/INFO AREA *
 ********************/
#footer {
	background-color: var(--color1);
	height: 5vh;
}

/*****************
 * MOBILE DESIGN *
 *****************/

/* ************PHONE************ */
@media screen and (max-width: 700px) {
	.main-section {
		height: auto;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.sub-main {
		width: 90%;
		height: 45%;
        margin: 10px;
	}
}
