:root {
	--color1: #fcba04;
	--color2: #a50104;
	--color3: #590004;
	--color4: #250001;
	--color5: #0b090a;
	--color6: #f3f3f3;
	--color7: #8d99ae;
}

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/******************
 * STATIC TOP BAR *
 ******************/
#header {
	background-color: var(--color5);
	height: 5vh;
}
h1 {
	color: var(--color1);
	-webkit-text-stroke: 1px var(--color2);
	margin-left: 10px;
}

/************************
 * MAIN PORTION OF PAGE *
 ************************/
.main-section {
	height: 45vh;
	display: flex;
	justify-content: space-evenly;
}
h3 {
	color: var(--color1);
	margin-left: 7px;
	margin-top: 3px;
}

.numInput {
    width: 20px;
}

#top, #bottom {
	background-color: var(--color7);
}

/* ****************** */
/* Initiative section */
/* ****************** */
.title-bar {
	width: 100%;
	height: 30px;
	background-color: var(--color5);
}

/* input section */
#init-input {
	width: 100%;
	height: 60px;
	display: flex;
	border: 1px solid var(--color5);
	
}
#input {
	width: 70%;
	height: 100%;
}

#input-top {
	width: 100%;
	height: 50%;
	display: flex;
}

#pc-type {
	height: 100%;
	width: 50%;
}
#init-num {
	height: 100%;
	width: 50%;
}

#input-bottom {
	width: 100%;
	height: 50%;
}


#add-button {
	width: 30%;
	height: 100%;
}

/* intiative display section */
#current-init {
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* bottom buttons  section */
#cycle-reset {
	width: 100%;
	height: 30px;
	display: flex;
}
#next-button {
	width: 85%;
	height: 30px;
}
#reset-button {
	width: auto;
	height: 30px;
}

.go-button {
	width: 100%;
	height: 100%;
	background-color: var(--color6);
	color: var(--color2);
	min-height: 30px;
}

.button-o-doom {
	width: 100%;
	height: 100%;
	background-color: var(--color2);
	color: var(--color1);
	font-size: 65%;
}


/* ****************** */
/*** Damage section ***/
/* ****************** */

.dmg-section{
	height: auto;
	margin-top: 10px;

}

.dmg-section > label{
	margin-left: 15px;
}

/* ****************** */
/*** Score section ***/
/* ****************** */


#scoreBoardTable{
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Larger/Global */
.sub-main {
	width: 45%;
	display: flex;
    flex-direction:column ;
	border: 1px solid var(--color5);

}
.left-side {
	/* background-color: darkmagenta; */
	background-color: var(--color1);
}
.right-side {
	background-color:var(--color1);
}


/********************
 * FOOTER/INFO AREA *
 ********************/
#footer {
	width: 100%;
	background-color: var(--color1);
	height: 5vh;
}

/*****************
 * MOBILE DESIGN *
 *****************/

/* ************PHONE************ */
@media screen and (max-width: 700px) {
	.main-section {
		height: auto;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.sub-main {
		width: 95%;
		height: 45%;
        margin: 10px;
	}
}
